.nav{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 0px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  min-height: 50px;
  box-shadow: 0 2px 4px rgba(0, 0, 255, 0.2);
}

.sidebar
{
  position: fixed;
  top: 50px;
  left: 0;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 255, 0.2);
  width: 300px;
  height: calc(100vh - 50px);
  padding-left: 50px;
  padding-top: 30px;
}

.main
{
  margin-top: 50px; 
  margin-left: 300px;
  padding: 20px;
}